.header{
	background-image: url(../img/first-bg.jpg);
	
	background-size: cover ;
	background-position:center;
	min-height: 270px;
	padding-top: 75px;
}
.top-header {
	text-transform: uppercase;
	color: #fff;

}
.main-display{
	display: flex;
	min-height: 100px;
}
.second-display{
	margin: auto;
}
.main-title p{
	margin-left: 83px;
}
section{
	margin: 30px;}
	
.carusel img{
height: 250px;
width: 100%;
}
.lolo h2{
	text-align: center;
	text-transform: uppercase;
}
.lolo a{
	background-color: gold;
	padding: 10px 35px;
	border-radius: 8px;
	color: #000;
	margin-left: 55px;
	font-size: 15px;
}
.lolo p{
	font-size: 16px;
	padding: 15px;
}
iframe{
	text-align: center;
}

.video0 h2{
text-align: center;
text-transform: uppercase;
}

.video0 p{
	padding: 15px;
	font-size: 16px;
}
.video0 a{
	padding: 10px 35px;
	background-color: gold;
	color: #000;
	border-radius: 8px;
	margin-left: 70px;
	text-align: center;
	font-size: 17px;
	text-transform: uppercase;
}
